{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card p-4 shadow-sm">
            <h4 class="mb-3 text-center">System Login</h4>
            <form method="POST">
                <div class="mb-3">
                    <label>Voter / Admin ID</label>
                    <input type="text" name="voter_id" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}